@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-principal: "Poppins", sans-serif;
    --cor1: #1554D1;
    --cor2: #0D47B8;
    --cor3: #fff;
    --bg: #f8fafc;
    --text: #111827;
    --card: #ffffff;
    --border: #d1d5db;
    --input: #ffffff;
    --header: #2563eb;
}
.dark{
    --bg: #0f172a;
    --text: #f8fafc;
    --card: #1e293b;
    --border: #334155;
    --input: #111827;
    --header: #1e293b;
}
html{
    background: var(--bg);
}


body{
    font-family: var(--font-principal);
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 20px;
    justify-content: center;
    background: var(--bg)!important;
    color: var(--text);
    transition: .3s;
}

img{
    width: 100%;
}

